*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9F6EE;
}


.VideosContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 3rem 0;
}
.VideoBox{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

.video1{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.video2{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.OptionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
}

.InputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid red;

}
.ButtonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid red;

}

.call{
    width: 100%;
}

.NotificationContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.CallButtons {
  align-items: center;
  border: 0 solid #E2E8F0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #1A202C;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 20px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 24px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
}

.green{
    background-color: lightgreen;
}
.green:hover{
    background-color: green;
}

.red{
    background-color: red;
}

.red:hover{
    background-color: darkred;
}



