@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffffc;
  background-image: -webkit-linear-gradient(20deg, #1098f7 20%, #fffffc 50%);
}
html {
  height: 100%;
}
